$min-mob: 300px;
$min-tab: 600.1px;
$min-desk: 1000.1px;

$dark-gray: #444;
$light-gray: #ccc;
$cd-red: #b31536;
$light-blue: #f8fbfc;
$vivid-blue: #4775ff;
$white: #fff;

$font-small: 12px;
$font-regular: 16px;
$font-big: 26px;
